@model List<ileriWebVeriTabaniSoa.Models.Post>

<div class="container mt-4">
    <h2>Seçilen Kategoriye Ait Postlar</h2>
    @if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var post in Model)
            {
                <li class="list-group-item">
                    <h5>
                        <!-- Gönderi başlığını tıklanabilir bir bağlantı haline getiriyoruz -->
                        <a href="@Url.Action("Details", "Posts", new { id = post.Id })">@post.Title</a>
                    </h5>
                    <p>@post.Content</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Bu kategoriye ait gönderi bulunamadı.</p>
    }
</div>
